.bg-image {
  background-image: url("../public/images/LegalPage-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  max-height: 100px;
  transition: all 0.3s ease;
}

.main-button {
  color: #987654 !important;
  border: 2px solid #987654;
  background: transparent;
}

.main-button:hover {
  background-color: #987654;
  color: white !important;
}

.nav-button:hover {
  background-color: grey;
  color: white !important;
}

.footer-button:hover {
  background-color: #b9a189;
  color: white !important;
}

#tabs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link-hover:hover .dropdown-menu {
  display: block;
  background-color: rgb(255, 255, 255);
}

.nav-link-animate {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link-animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}

.nav-link-hover:hover .nav-link-animate::after {
  width: 100%;
}

.top-one {
  width: 85%;
}

/* Hero Section */
.hero-section {
  min-height: 87.35vh;
  padding: 2rem 0;
}

.hero-text {
  font-size: 5rem;
  line-height: 1.1;
}

.scroll-buttons a:hover {
  background-color: #b9a189;
  color: white;
}


@media (max-width: 992px) {
  .logo {
    max-height: 80px;
  }
  .hero-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    text-align: center;
    justify-content: center !important;
  }
  .hero-text {
    font-size: 2.8rem;
  }
  .main-button {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .logo {
    max-height: 65px;
  }
  header {
    text-align: center;
  }
  .logo-container {
    justify-content: center;
  }
  hr {
    margin-top: 1rem;
  }
  .hero-text {
    font-size: 2.2rem;
  }
  section h1 {
    font-size: 1.5rem;
  }
  .main-button {
    width: 100%;
  }
  footer .col-6,
  footer .col-md-2,
  footer .col-md-3,
  footer .col-md-4 {
    text-align: center;
  }
}

/* For small foldable screens */
@media screen and (max-width: 400px) and (max-height: 900px) {
  #hero-media {
    padding-left: 0 !important;
  }
  .hero-text {
    font-size: 1.9rem;
  }
}

/* Modal Fix */
.modal-dialog {
  margin: 1rem auto;
  max-width: 95%;
}

.modal-content {
  border-radius: 12px;
  overflow: hidden;
}

.modal-backdrop.show {
  opacity: 0.8;
  z-index: 1050;
}

.modal {
  z-index: 2000 !important;
}


@media (max-width: 576px) {
  .scroll-buttons a {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}