.bg-image {
  background-image: url("../public/images/LocationPage-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  max-height: 100px;
  transition: all 0.3s ease;
}

.main-button:hover{
  background-color: #987654;
  color: white !important;
}

.nav-button:hover{
  background-color: grey;
  color: white !important;
}

.footer-button:hover{
  background-color: #b9a189;
  color: white !important;
}

#tabs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-link-hover:hover .dropdown-menu {
  display: block;
  background-color: rgb(255, 255, 255);
}

.nav-link-animate {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link-animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}

.nav-link-hover:hover .nav-link-animate::after {
  width: 100%;
}

@media (max-width: 992px) {
  .logo {
    max-height: 80px;
  }
}

@media (max-width: 576px) {
  .logo {
    max-height: 65px;
  }
  header {
    text-align: center;
  }
  .logo-container {
    justify-content: center;
  }
  hr {
    margin-top: 1rem;
  }
}

.btn-outline-light {
  border-radius: 10px;
  font-weight: 500;
}

.top-one{
  width: 85%;
}

@media screen and (max-width: 400px) and (max-height: 900px) {
  #hero-media {
    padding-left: 0 !important;
  }
}